<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.beeapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_trans2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BeeApp">
        <activity
            android:name=".ui.homepage.ui.home.beefuel.BeeFuelEditActivity"
            android:exported="false" />
        <activity
            android:name=".ui.homepage.ui.home.beefuel.BeeFuelActivity"
            android:exported="false" />
        <activity
            android:name=".ui.homepage.ui.home.beetire.BeeTireActivity"
            android:exported="false" />
        <activity
            android:name=".ui.homepage.ui.home.akumulasi_pendapatan_mitra.AccumulatePartnerOrderDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.homepage.ui.home.akumulasi_pendapatan_mitra.AccumulatePartnerOrderActivity"
            android:exported="false" />
        <activity
            android:name=".ui.homepage.ui.home.AdminActivity"
            android:exported="false" />
        <activity
            android:name=".ui.homepage.ui.home.verify_driver.VerifyDriverDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.homepage.ui.home.verify_driver.VerifyDriverActivity"
            android:exported="false" />
        <activity
            android:name=".ui.homepage.ui.home.beewash.BeeWashEditActivity"
            android:exported="false" />
        <activity
            android:name=".ui.homepage.ui.order.OrderDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.homepage.ui.home.beewash.BeeWashActivity"
            android:exported="false" />
        <activity
            android:name=".ui.homepage.HomeActivity"
            android:exported="false"
            android:label="@string/title_activity_home" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>